/* .home{ */
    /* background-image: url(../assets/_.jpeg); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    /* filter: blur(8px); */
/* } */

/* .login{ */
    /* background: transparent; */
    /* border: 1px solid #2B2B2B;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 2px #B0B0B0 */

    /* filter: blur(1px); */
/* } */